
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;  /* Pushes the footer to the bottom */
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
}
